<a href="/recipe/{{id}}" class="list-group-item d-flex justify-content-between">
    <div class="d-flex justify-content-start">
        <div>
            <img class="rounded img-fluid" src="{{recipe_image}}" style="width:250px; hegiht:250px;">
        </div>
        <div class="d-flex flex-column justify-content-center ms-3">
            <h3>{{recipe_name}}</h3>
            <div class="d-flex flex-row flex-wrap">
                {{#each Genres as |genre|}}
                    <div>
                        <span class="badge rounded-pill bg-primary mx-1 my-1">{{genre.name}}</span>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <small><i class="fas fa-chevron-right"></i></small>
    </div>
</a>