<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="https://avatars.githubusercontent.com/u/60636931?v=4">
                </div>
                <div class="team-content">
                    <h3 class="name">Koppi Kolyvek</h3>
                    <h4 class="title">Frontend Developer</h4>
                </div>
                <ul class="social">
                    <li>
                        <a href="https://www.linkedin.com/in/koppi-kolyvek-221b0a14a/" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a>
                    </li>
                    <li>
                        <a href="https://github.com/kkolyvek" target="_blank" class="fa fa-github" aria-hidden="true"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="https://avatars.githubusercontent.com/u/19616161?v=4">
                </div>
                <div class="team-content">
                    <h3 class="name">Kevin Choi</h3>
                    <h4 class="title">Frontend Developer</h4>
                </div>
                <ul class="social">
                    <li>
                        <a href="https://linkedin.com/in/kevchoi" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a>
                    </li>
                    <li>
                        <a href="https://github.com/rhwlffk1028" target="_blank" class="fa fa-github" aria-hidden="true"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="https://avatars.githubusercontent.com/u/84348161?v=4">
                </div>
                <div class="team-content">
                    <h3 class="name">Nathaniel Turcotte</h3>
                    <h4 class="title">Backend Developer</h4>
                </div>
                <ul class="social">
                    <li>
                        <a href="https://www.linkedin.com/in/nathanielturcotte/" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a>
                    </li>
                    <li>
                        <a href="https://github.com/TheHebi" target="_blank" class="fa fa-github" aria-hidden="true"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="https://avatars.githubusercontent.com/u/84879014?v=4">
                </div>
                <div class="team-content">
                    <h3 class="name">Kaleb Muse</h3>
                    <h4 class="title">Backend Developer</h4>
                </div>
                <ul class="social">
                    <li>
                        <a href="https://www.linkedin.com/in/kcmuse/" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a>
                    </li>
                    <li>
                        <a href="https://github.com/kcmuse" target="_blank" class="fa fa-github" aria-hidden="true"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>