<main class="container mt-4 custom-wrapper-all">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-12 d-flex flex-column">
            <div class="col-12">
                <div class="card bg-light" id="loginCard">
                    <h2 class="mt-4 text-center">Login</h2>
                    <p class="text-center">Show off your recipes!</p>
                    <hr class="mx-auto" width="90%">
                    <form class="d-flex flex-column mx-3" id="loginForm">
                        <div class="form-group p-2">
                            <label for="loginUsername"><i class="fas fa-user"></i> Username</label>
                            <input id="loginUsername" placeholder="Username" type="text" class="form-control" />
                        </div>
                        <div class="form-group p-2">
                            <label for="loginPassword"><i class="fas fa-key"></i> Password</label>
                            <input id="loginPassword" placeholder="Password" type="password" class="form-control" />
                        </div>
                        <div class="form-group p-2 text-center">
                            <button type="submit" class="btn btn-danger w-100" id="loginBtn"><i
                                        class="fas fa-sign-in-alt"></i> Login</button>
                        </div>
                        <p class="text-center my-2">Do not have an account? <a href="/signup" style="text-decoration: none;">Create an account</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/js/login.js"></script>