* {
  background: none;
  margin: 0;
  padding: 0;
  font-family: lato, sans-serif;
  letter-spacing: 110%;
  box-sizing: border-box;
}

.highlight:hover .highlight-target {
  color: #212529;
}

/* BUTTON COLORING */
.btn {
  border-radius: 100px;
}

.btn-danger {
  /* red */
  background-color: #ad0000 !important;
  border-color: #ad0000 !important;
}

.btn-danger:hover {
  opacity: 0.8;
}

.btn-warning {
  /* yellow */
  background-color: #e07810 !important;
  border-color: #e07810 !important;
  color: white;
}

.btn-warning:hover {
  color: white;
  /* background-color: rgba(224, 120, 16, 1.5); */
  opacity: 0.8;
}

.btn-primary {
  /* blue */
  background-color: #3d63fc !important;
  border-color: #3d63fc !important;
}

.btn-primary:hover {
  opacity: 0.8;
}

.btn-success {
  /* green */
  background-color: #0f7316 !important;
  border-color: #0f7316 !important;
}

.btn-success:hover {
  opacity: 0.8;
}

.bg-primary {
  background-color: salmon !important;
}

.bg-warning {
  background-color: #e07810 !important;
  color: white;
}

.rounded-header {
  border-radius: 100px;
}

/* NAVBAR AND OTHER SITE-WIDE ATTRIBUTES */

#website-logo {
  font-family: "Yusei Magic", sans-serif;
  font-size: 40px;
  padding: 20px;
  font-weight: bold;
  text-decoration: none;
}

.no-padding {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.custom-kevin-p {
  margin-bottom: 0;
}

.background {
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1556909211-36987daf7b4d?ixid=MnwxMjA3fDB8MHxwaG90by1[…]GVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
  background-position: center;
}

.custom-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.custom-nav-group {
  display: flex;
}

/* RECIPE LIST */

.custom-list-image {
  height: 5em;
  width: 10em;
  object-fit: cover;
}

.recipe-item {
  padding: 0;
  border: 1px solid #333333;
  border-radius: 0.25rem;
}

.recipe-item-details {
  padding: 1em;
}

.custom-tab-footer-recipes {
  border: 1px solid #cccccc;
  border-top: 1px solid #333333;
  background: #cccccc;
  border-radius: 0 0 0.25rem 0.25rem;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* About Us */
.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #ffbb33;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffbb33;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #ffbb33;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #ffbb33;
  background-color: #f7f5ec;
}
/* About Us Done */

.nav-item::after {
  content: "";
  display: block;
  width: 0px;
  height: 4px;
  background: #ffbb33;
  transition: 0.2s;
  margin-top: -10px;
}

.nav-item:hover::after {
  width: 100%;
}

.nav-link {
  padding: 15px 5px;
  transition: 0.2s;
}

.navbar-nav .nav-link {
  color: #000;
  font-weight: bold;
  font-size: 18px;
}

.navbar-nav .active > .nav-link {
  width: 100%;
  height: 51px;

  border-bottom: 0.25rem solid transparent;
  border-bottom-color: #ffbb33;
}

.custom-wrapper-all {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.custom-wrapper-all {
  min-width: none;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.custom-tab {
  border: 1px solid #333333;
  background-color: white;
  border-bottom: none;
  border-radius: 10px;
  max-width: 70rem !important;
}

.custom-tab-create {
  border: 1px solid #333333;
  background-color: white;
  border-radius: 10px;
  max-width: 70rem;
}

.custom-tab-footer {
  border: 1px solid #cccccc;
  border-top: 1px solid #333333;
  background: #cccccc;
  border-radius: 0 0 10px 10px;
  padding-left: 1em;
  padding-right: 1em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#like-btn {
  background: none;
  border: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#card-image-upload {
  padding: 0;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#imgUpload {
  color: #f0f0f0;
  font-size: large;
  background: #696969;
  border: 1px solid #dbd8ce;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-checkbox:hover {
  cursor: pointer;
}

.custom-ingredient-list {
  margin-left: 0 !important;
  padding-left: 1rem !important;
}

.custom-step-list-item {
  padding-left: 1rem !important;
}

.custom-comment-wrapper {
  background: white;
  border-radius: 5px;
}

@media screen and (max-width: 991px) {
  .custom-wrapper-all {
    margin: 0 !important;
    padding: 0 !important;

    display: flex;
    /* justify-content: center;
    align-items: center; */
  }
  .custom-tab {
    margin-right: 0 !important;
    margin-left: 0 !important;
    border: none;
  }

  .custom-tab-create {
    margin-right: 0 !important;
    margin-left: 0 !important;
    border: none;
  }

  #card-image-upload {
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 1rem !important;
  }
  #card-right {
    padding: 0 !important;
  }
  #back-btn {
    display: none;
  }
  #recipe-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #recipe-image {
    max-height: 25vh;
  }
}

@media screen and (max-width: 768px) {
  .custom-nav-group {
    flex-direction: column;
  }
  .custom-nav-group li {
    width: fit-content;
  }
  .custom-tab-footer {
    flex-direction: column;
    padding-bottom: 1em;
    padding-top: 1em;
  }
}

@media screen and (max-width: 576px) {
  .custom-tab {
    margin: 0 !important;
    border: none;
    border-radius: 0;
  }

  .custom-tab-create {
    margin: 0 !important;
    border: none;
    border-radius: 0;
  }

  .custom-tab-footer {
    border-radius: 0px;
  }

  .home-about-mobile {
    flex-direction: column !important;
    align-items: center;
  }

  #loginCard {
    margin-top: 20px;
  }

  #signupCard {
    margin-top: 20px;
  }
}
