* {
  background: none;
  margin: 0;
  padding: 0;
  font-family: lato, sans-serif;
  letter-spacing: 110%;
  box-sizing: border-box;
}

.custom-tab {
  border: 1px solid #dbd8ce;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

.custom-tab-footer {
  border: 1px solid #dbd8ce;
  border-radius: 0 0 10px 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#like-btn {
  background: none;
  border: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#card-image-upload {
  padding: 0;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-checkbox:hover {
  cursor: pointer;
}

.custom-ingredient-list {
  margin-left: 0 !important;
  padding-left: 1rem !important;
}

.custom-step-list-item {
  padding-left: 1rem !important;
}

@media screen and (max-width: 992px) {
  .custom-wrapper-all {
    margin: 0 !important;
    padding: 0 !important;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .custom-tab {
    /* padding: 0 !important; */
    margin: 0 !important;
    border: none;
  }
  #card-image-upload {
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 1rem !important;
  }
  #card-right {
    padding: 0 !important;
  }
  #back-btn {
    display: none;
  }
  #recipe-title {
    text-align: center;
  }
}
